{% extends "dashboard.html" %}
{% block title %}Kudziya Categories {% endblock %}

{% block content %}
<!-- Section : Category -->
<section class="section section-category grey lighten-4 sec">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Category</span>
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Date Created</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in categories %}
                                <tr>
                                    <td>{{i[0]}}</td>
                                    <td type="Date">{{i[1]}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section : FABS -->
<div class="fixed-action-btn sec">
    <a class="btn-floating btn-large blue">
        <i class="material-icons">add</i>
    </a>
    <ul>
        <li><a href="#categorymodal" class="modal-trigger btn-floating purple">
                <i class="material-icons">folder</i>
            </a>
        </li>
    </ul>
</div>

<!-- Modals -->
<div id="categorymodal" class="modal">
    <div class="modal-content">
        <h4>Add Category</h4>
        <form action="{{url_for('addCategory')}}" method="POST">
            <div class="input-field">
                <input type="text" name="category" id="category">
                <label for="category">Title</label>
            </div>

            <div class="modal-footer">
                <button type="submit" class="modal-action modal-close btn blue white-text">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}