<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://d26b395fwzu5fz.cloudfront.net/keen-dataviz-2.0.4.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Target DOM Node -->
    <div id="keen-example-chart"></div>

    <script src="https://d26b395fwzu5fz.cloudfront.net/keen-analysis-2.0.0.min.js" type="text/javascript"></script>
    <script src="https://d26b395fwzu5fz.cloudfront.net/keen-dataviz-2.0.4.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var client = new Keen({
            projectId: "5badffe1c9e77c00012d481a",
            readKey: "57BCB18275F5406D1ED3D85E88EF8FC5437B6C93D8725F7C3BDD1CB7EBA1A2776B0B84DC40F1D673D5A95462A8D35FD0BC736F192AA1AEF415A8035BD09B3A26AD6794FED943AC3DD0D2D6B228D4F0313FC8E93902DFA7A5CA5F8EC472FDC843"
        });

        var chart = new Keen.Dataviz()
            .el("#keen-example-chart")
            .height(240)
            .title("Untitled Chart")
            .type("piechart")
            .prepare();

        client
            .query("sum", {
                event_collection: "visits",
                group_by: ["keen.timestamp"],
                target_property: "visit",
                timeframe: "this_1_days",
                timezone: "Asia/Istanbul"
            })
            .then(function (res) {
                chart.data(res).render();
            })
            .catch(function (err) {
                chart.message(err.message);
            });
    </script>
</body>

</html>