{% extends "dashboard.html" %}

{% block title %} Kudziya Stock {% endblock %}

{% block content %}
<!-- Section : Products -->
<section class="section section-posts grey lighten-4 sec">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Stock</span>
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Reference No.</th>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>In Stock</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in posts %}
                                <tr>
                                    <td>{{i[0]}}</td>
                                    <td>{{i[1]}}</td>
                                    <td>{{i[2]}}</td>
                                    <td>{{i[3]}}</td>

                                    {% if i[4]=="true" %}
                                    <td><i class="material-icons green-text small">check</i></td>
                                    {% else %}
                                    <td><i class="material-icons red-text small">close</i></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Section : FABS -->
<div class="
            fixed-action-btn sec">
    <a class="btn-floating btn-large blue">
        <i class="material-icons">add</i>
    </a>
    <ul>
        <li><a href="#postmodal" class="modal-trigger btn-floating purple">
                <i class="material-icons">mode_edit</i>
            </a>
        </li>
    </ul>
</div>

<!-- Modals -->
<div id="postmodal" class="modal">
    <div class="modal-content">
        <h4>Add Post</h4>
        <form action="{{url_for('addProduct')}}" method="POST" enctype="multipart/form-data">
            <div class="input-field">
                <input type="text" name="title" id="title">
                <label for="title">Title</label>
            </div>
            <div class="input-field">
                <input type="number" name="price" id="price">
                <label for="price">Price</label>
            </div>
            <div class="input-field">
                <select name="category">
                    {% for i in categories %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
                <label>Category</label>
            </div>

            <div class="input-field">
                <textarea name="description" id="description" class="materialize-textarea"></textarea>
                <label for="description">Description</label>
            </div>

            <div class="file-field input-field">
                <div class="btn">
                    <span>Upload Image</span>
                    <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                    <input type="text" name="filename" class="file-path">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-action modal-close btn blue white-text">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}